.content{
    display: flex;
    flex-direction: column;
    width: 8.2rem;
}
body{
    font-family: Arial;
    width: fit-content;
    padding: 0.8rem;
    margin: 0;
    
}
.action{
    display: flex;
    margin-bottom: 1rem;
}
.switch{
    margin-left: 1rem;
}
.h{
    font-weight: 600;
    text-decoration: underline;
    margin-bottom:1rem;
}
#button{
    padding:0.2rem;
    cursor: pointer;
    height: fit-content;
    width: fit-content;
    background-color: red;
    color:white;
    border: 1px solid black;
}